.share-social-component {
  border-top: 1px solid #e1e3ea;
  padding-top: 10px;
  margin-bottom: 10px;
}
.share-social-component .ssc-label {
  float: left;
  padding: 5px 15px 0 7px;
}
.share-social-component .ssc-buttons {
  overflow: hidden;
}
.share-social-component .s-link {
  display: inline-block;
  padding: 4px 10px;
  color: #fff;
  border-radius: 15px;
  margin-right: 10px;
}
.share-social-component .s-link i {
  padding-right: 5px;
  padding-left: 5px;
}
.share-social-component .s-link:hover {
  text-decoration: none;
  color: #fff;
}
.share-social-component .s-facebook {
  background: #4867AA;
}
.share-social-component .s-email {
  background: #DC4638;
}
.share-social-component .s-twitter {
  background: #36B9FF;
}

@media (max-width: 600px) {
  .ssc-label {
    display: none;
  }
}