@import '../../scss/_variables';

.mystyle-products {
  list-style: none;
  margin: 0;
  padding: 0;  
  display: flex;
  flex-wrap: wrap;
}
.mystyle-products.slider-products .product {
  float: none;
  width: auto;
  margin-bottom: 0;
}
.mystyle-products  {
  display: flex;
  justify-content: space-between;
  .product {
    cursor: pointer;
    position: relative;
    border-radius: 0;
    background: #fff;
    flex-basis: 31.7%;
    min-width: 31.7%;
  }
  .product-image{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .price-block {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    ins {
      text-decoration: none;
    }
    .price-amount {
      color: $primary-color;
    }
  }
}

.mystyle-products .product h3 {
  font-size: 12px;
  line-height: 20px;
  margin-top: 0;
  text-transform: uppercase;
  color: #b1b1b3;
  overflow: hidden;
  a {
    color: #b1b1b3;
  }
}
.mystyle-products .product:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.mystyle-products .product > a {
  position: relative;
  display: block;
}
.mystyle-products .product > a:hover {
  text-decoration: none;
}
.mystyle-products .product .add_to_cart_button {
  display: none;
}
.mystyle-products .product .attachment-shop_catalog {
  display: block;
  margin: 0 auto;
}
.mystyle-products .product del {
  color: #969696;
  font-size: 11px;
  padding-right: 7px;
  white-space: nowrap;
  display: none;
}
.mystyle-products .product .sale-tag {
  color: red;
  font-size: 12px;
  padding-left: 7px;
  font-weight: 700;
  display: none;
}

.onsale {
  position: absolute;
  top: 15px;
  padding: 2px 10px;
  background: #93c34a;
  color: #fff;
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
}
.onsale:before, .onsale:after {
  content: "";
  position: absolute;
}
.onsale:before {
  width: 7px;
  height: 33px;
  top: 0;
  left: -6.5px;
  padding: 0 0 7px;
  background: inherit;
  border-radius: 5px 0 0 5px;
}
.onsale:after {
  width: 5px;
  height: 5px;
  bottom: -5px;
  left: -4.5px;
  background: darken(#93c34a, 15%);
  border-radius: 5px 0 0 5px;
}
.mystyle-products .product .p-2 {
  padding: 20px 20px 0 20px !important;
}
@media (max-width: 768px) {
  .mystyle-products .product {
    flex-basis: 48.5%;
    min-width: 48.5%;
  }
}
@media (max-width: 560px) {
  .mystyle-products .product {
    width: auto;
    float: none;
  }
  .mystyle-products .product h3 {
    height: auto;
  }
}
