/* SECTION: EXTRA 
---------------------------------------*/
.extra-zone {
    padding-top: 50px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 -3px 5px rgba(0,0,0,0.06);
    border-top: 1px solid #d7dae0;
    .footer-widgets {
        .widget-container{
            border: none;  
            .widget-title{
                padding: 0;
                margin-bottom: 15px;
            }
            .widget-body{
                padding: 0;
            }
        }
        
    }
}
/* SECTION: EXTRA ---------------------------------------*/