/* SECTION: EXTRA 
---------------------------------------*/
.extra-zone {
    padding-top: 50px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 -3px 5px rgba(0,0,0,0.06);
    border-top: 1px solid #d7dae0;
    .footer-widgets {
        .widget-container{
            border: none;  
            &:before{
                border-top: 2px solid #000;
                content: "";
                display: block;
                width: 50px;
                margin-bottom: 7px;
            } 
            .widget-title{
                padding: 0;
                margin-bottom: 15px;
                        
            }
            .widget-body{
                padding: 0;
            }
        }
        .footer-widget-1 {
        
        }
        .footer-widget-2 {
        
        }
        .footer-widget-3 {
        
        }
        .footer-widget-4 {
        
        }
    }
}
/* SECTION: EXTRA ---------------------------------------*/