// Variables
@import '_variables';
@media(max-width: $breakpoint-laptop){
  .hightlight-features {
    display: none;
  }
}
@media(max-width: $breakpoint-m){
  .awsome-features {
    height: 40vw;
    .grid-item--primary {
      flex-basis: 30%;
      min-width: 30%;
    }
    .second-group {
      flex-basis: 70%;
      min-width: 70%;
      display: flex;
      .second-feature {
        height: 40vw;
      }
      .third-feature {
        height: 40vw;
        flex-direction: column;
        .grid-feature-1 {
          height: 20vw;
        }
        .grid-feature-2 {
          height: 20vw;
        }
        .grid-feature-3 {
          height: 20vw;
        }
      }      
    }
  }
  
}
@media (max-width: $breakpoint-ipad){  
  
  .section {
    .section-inner{
      padding: 20px 0;
    }
  }
  .container-sidebar {
    padding-left: 0;
    .sidebar {
      padding: 0;
      position: relative;
      top: auto;
      bottom: auto;
      width: auto;
      .filter {
        display: flex;
        .widget-filter {
          flex-basis: 20%;
          min-width: 20%;
        }
        .widget-categories {
          flex-grow: 1;
          padding-left: 20px;
        }
      }
    }
    .right-wrapper {
      padding: 0 0 30px 0;
      border: none;
    }
  }
  .ant-checkbox-group {
    .ant-checkbox-wrapper {
      display: inline-block;
      width: auto;
    }
  }
}
@media (max-width: 855px) {
  .bm-burger-button {
    display: none;
  }
  .bugger-menu-control {
    display: block;
  }
  .primary-nav {
    display: none;    
  } 
  .awsome-features{
    display: none;
  }
  .navbar-brand {
    padding-left: 60px;
    flex-basis: 190px;
    min-width: 190px;
  }
}
@media(max-width: $breakpoint-sm){
  .ant-breadcrumb {
    display: none;
  }
  .block-contact {
    .d-flex{
      flex-direction: column;
    }
    .contact-facebook,
    .contact-chat,
    .contact-zalo {
      display: flex;
      margin: 0;
      margin-bottom: 10px;
      width: 100%;
      span {
        text-align: center;
        flex-grow: 1;
      }
    }
  }
  .footer {
    .footer-nav {
      text-align: center !important;      
    }
  }
  .container-sidebar {
    .sidebar {
      .filter {
        display: block;
        .widget-filter {
          width: 100%;
        }
      }
    }
  }
  .footer {
    .widget {
      padding: 10px 0 0;
    }
    .extra-zone {
      padding-top: 0;
    }
  }
  .btn.Facebook {
    display: block;
    background: $facebook; 
    color: #fff;
  }
  .widget-body {
    p {
      margin-bottom: 0px;
    }
  }
  .single-post-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .sizes-row {
    .btn-outline-secondary {
      margin-bottom: 10px;
    }
  }
  .section-giao-hang {
    .pagraph-1 {
      border-top: 1px solid $border-color;
      display: flex;
      .number {
        flex-basis: 10%;
        position: relative;
        left: auto;
        top: auto;
        font-size: 24px;
        margin-right: 20px;
      }
      .phi-giao-hang {
        flex-basis: 40%;
        min-width: 40%;
        margin-left: 20px;
      }
    }
  }
  .special-product {
    padding-top: 0;
    .first-image {
      display: flex;
      .img-holder {
        max-width: 60%;
      }
      .cate-name {
        left: 0;
        letter-spacing: 5px;
      }
      .txt-holder {
        padding: 20px;
        position: relative;
        width: 40%;
      }
    }
    .thumb1-image {
      padding-top: 0;
    }
  }
  .section-bang-gia {
    margin-top: 50px;
  }
}
@media(max-width: $breakpoint-xs){
  .special-product {
    .first-image {
      flex-direction: column;
      .img-holder {
        max-width: 100%;
      }
      .cate-name {
        top: 10px;
        left: 0;
        letter-spacing: 2px;
      }
      .txt-holder {
        width: 100%;
      }
    }
    .thumb1-image {
      .img-holder {
        padding-top: 10px;
        float: none;
        max-width: none;
      }
      .size-collections {
        .btn.btn-outline-secondary {
          display: inline-block;   
        }
      }
    }
    
  }
  .btn-lg {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media(max-width: $breakpoint-xxs){
}
