// Variables
@import '_variables';
@media(max-width: $breakpoint-laptop){
}
@media(max-width: $breakpoint-m){
  .awsome-features {
    .grid-item--primary {
      flex-basis: 30%;
      min-width: 30%;
    }
    .second-group {
      flex-basis: 70%;
      min-width: 70%;
      display: flex;
      .second-feature {
        height: 60vh;
      }
      .third-feature {
        height: 60vh;
        flex-direction: column;
        .grid-feature-1 {
          height: 20vh;
        }
        .grid-feature-2 {
          height: 20vh;
        }
        .grid-feature-3 {
          height: 20vh;
        }
      }      
    }
  }
}
@media (max-width: $breakpoint-ipad){
  .section {
    .section-inner{
      padding: 20px 0;
    }
  }
  .container-sidebar {
    padding-left: 0;
    .sidebar {
      padding: 0;
      position: relative;
      top: auto;
      bottom: auto;
      width: auto;
      .filter {
        display: flex;
        .widget-filter {
          flex-basis: 20%;
          min-width: 20%;
        }
        .widget-categories {
          flex-grow: 1;
          padding-left: 20px;
        }
      }
    }
    .right-wrapper {
      padding: 0 0 30px 0;
      border: none;
    }
  }
  .ant-checkbox-group {
    .ant-checkbox-wrapper {
      display: inline-block;
      width: auto;
    }
  }
}
@media (max-width: 855px) {
  .bm-burger-button {
    display: block;
  }
  .primary-nav {
    display: none;
    
  } 
  .awsome-features{
    display: none;
  }
}
@media(max-width: $breakpoint-sm){
  .ant-breadcrumb {
    display: none;
  }
  .container-sidebar {
    .sidebar {
      .filter {
        display: block;
        .widget-filter {
          width: 100%;
        }
      }
    }
  }
}
@media(max-width: $breakpoint-xs){
}
@media(max-width: $breakpoint-xxs){
}
