// Variables
@import 'variables';
@import 'mixins';

.single-product {
  .product.type-product {
    background: #fff;
    margin-bottom: $glutter;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    .images {
      flex-basis: 47%;
      min-width: 47%;   
      margin-bottom: 50px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: row-reverse;
      .woocommerce-main-image {          
        text-align: center;
        display: block;
        img {
          height: auto !important;
        }
      }
      .thumbnails {
          width: 100px;        
          padding: 10px;
          > div {
              margin-bottom: 15px;
          }
      }
    }      
    .summary {
      flex-basis: 47%;
      min-width: 47%;
      padding-left: 3%;
      margin-left: 3%;
      border-left: 1px solid $border-color;
      margin-bottom: 50px;
      .woocommerce-product-rating {
        display: flex;
      }
      .woocommerce-review-link {
        color: $primary-color;
        text-decoration: underline;
        font-style: italic;
      }
      .product_title{
        @include heading2();
        border-bottom: 1px solid $border-color;
        padding-bottom: 10px;
        margin-bottom: 10px;
      }        
      .price-amount {
        display: block;
        .current-price-block {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid #ebebeb;
          .label {
            min-width: 50%;
          }
          .amount {
            text-align: right;
            flex: 1;
          }
        }
        .sale-price-block{
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid #ebebeb;
          padding-top: 10px;
          padding-bottom: 7px;
          .label {
            min-width: 50%;
          }
          .price-amount {
            display: flex;
            position: relative;
            color: #727272;
            .current-price-block {
              border-bottom: none;
            }
            .amount {
              color: #727272;
              font-size: 18px;
            }
            &:after {
              display: block;
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              top: 15px;
              border: 1px solid #727272;
            }
          }
        }
        .discount-block {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid #ebebeb;
          padding-top: 10px;
          padding-bottom: 7px;
          margin-bottom: 30px;
          .label {
            min-width: 50%;
          }
        }
        del {
          .amount {
            color: $muted;
            font-size: 17px;
          }
        }
        .amount {
          color: $primary-color;
          font-size: 27px;
        }
      }
      .product-description {
        padding: 10px 15px;
        background: $bg-gray;
        margin-bottom: 20px;
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          overflow: hidden;
          li {
            border-top: 1px dotted rgba(0,0,0,.25);
            margin-top: -1px;
            padding: 7px 0;
          }
        }
      }  
      .cart {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
        .quantity {
          padding-right: 30px;
        }         
    }
  }      
  }
  .cart {
    margin-bottom: 25px;
    margin-top: 25px;
    .input-text { 
      @include defaultInput();
      width: 80px;
      text-align: center;
    }
  }
  .single_add_to_cart_button.button {    
    @include defaultSubmit();
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
    &:hover{
        background: darken($primary-color,5%);
    }
  }
  .product_meta {
    padding-top: 15px;
    color: $muted;
    a {      
      text-decoration: underline;
      padding-left: 4px;
      color: $primary-color;
      font-style: italic;
    }
  }
}
@media (max-width: $breakpoint-sm){
  .single-product{
    .product.type-product{
      display: block;
      .images{
        display: block;
        max-width: 30vh;
        margin-left: auto;
        margin-right: auto;
        .thumbnails {
          display: flex;
          width: auto;
          padding: 0;
          justify-content: space-between;
          a {
            display: block;
            max-width: 70px;
          }
        }
      }
      .summary {
        min-width: 100%;
        border-left: 0;
        padding-left: 0;
        margin-left: 0;
      }
    }
  }
}
  
@media (max-width: $breakpoint-xxs) {
  
  .single-product{
    .product.type-product{
      .summary{
        .cart {
          display: block;
          .quantity {
            display: block;
            padding-right: 0;
            margin-bottom: 15px;
            .input-text {
              display: block;
              width: 100%;
            }
          }
          .single_add_to_cart_button.button {
            display: block;
            width: 100%;
          }
        }  
      }        
    }
  }
}
.block-contact {
  .contact-facebook,
  .contact-chat {
    margin-bottom: 10px;
    padding-right: 10px;
    border: 1px solid $primary-color;
    margin-right: 10px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    position: relative;
    &:hover{
      text-decoration: none;
    }
    i {
      background: $primary-color;
      color: #fff;
      margin-right: 5px;
      display: inline-block;
      font-size: 20px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
    }
  }
  .contact-facebook{
    border-color: $facebook;
    box-shadow: 0 3px 0 darken($facebook, 7%), 0 4px 4px 1px rgba(0,0,0,.2);
    &:hover {
      background: lighten($facebook, 50%);
    }
    &:active {
      box-shadow: none;
      top: 3px;
    }
    i {
      background: $facebook;
    }
    
  }
  .contact-chat{
    border-color: $orange;
    box-shadow: 0 3px 0 darken($orange, 7%), 0 4px 4px 1px rgba(0,0,0,.2);
    &:hover{
      background: lighten($orange, 50%);
    }
    &:active {
      box-shadow: none;      
      top: 3px;
    }
    i {
      background: $orange;
    }
  }
  .contact-phone {
    span {
      color: $muted;
      padding-right: 5px;
    }
    a {
      font-weight: bold;
    }
  }
}